{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <main role="main" class="container text-center">
        <div class="jumbotron">
            <h1>Bienvenue sur Mini airbnb</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leurs biens à la location !</p>
            <hr>
            <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
            <a class="btn btn-lg btn-secondary" href="{{ path('advert_index') }}" role="button">Voir nos annonces »</a>
        </div>
    </main>

    <div class="container">
        <h2 class="text-center my-5">Nos annonces stars !</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for data in adverts %}
                    {% include'advert/_advert.html.twig'  with {'advert': data.annonce} %}
                {% else %}
                    <div class="alert alert-warning text-center mt-5 mb-5">
                        <h2>Aucune annonce retrouvée</h2>
                    </div>
                {% endfor %}
        </div>
    </div>
    <div class="container">
        <h2 class="text-center mt-2 mb-5">Nos propriétaires stars !</h2>
        <div class="row row-cols-1 row-cols-md-3">
            {% for data in users %}
            <div class="col mb-4 ">
                <div class="card border-secondary mb-3 h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{data.user.fullName}}</h5>
                        <hr>
                        <div class="card-text">
                            <img src="{{data.user.avatarUrl}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
                            <p>{{data.user.introduction}}</p>
                            <a href="{{ path('user_show', {'id':data.user.id,'slug': data.user.slug})}}" class="btn btn-secondary float-right">Visiter son profil!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="alert alert-warning text-center mt-5 mb-5">
                    <h2>Aucune donnée retrouvée</h2>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
