{% extends 'admin/base.html.twig' %}
{% block title %}Correction d'une annonce{% endblock %}

{% form_theme form 'advert/_collection.html.twig' %}


{% block body %}
   <div class="container mb-5 text-center">
       <h1 class="text-center">Correction de l'annonce: {{ advert.title }}</h1>
       <div class="row">
           <div class="col">
               <div class="card bg-light">
                   <div class="card-header">
                       <h4 class="card-title">Corriger l'annonce ?</h4>
                   </div>
                   <div class="card-body">
                       {{ include('advert/_form.html.twig', {'button_label': "Mettre à jour l'annonce"}) }}
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card bg-light">
                   <div class="card-header">
                       <h4 class="card-title">Les réservations</h4>
                   </div>
                   <div class="card-body">
                      <table class="table">
                          <thead>
                          <tr>
                              <th>Id</th>
                              <th>Voyageur</th>
                              <th>Date de réservation</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for booking in advert.bookings %}
                          <tr>
                              <td>{{ booking.id }}</td>
                              <td>{{ booking.guest }}</td>
                              <td>{{ booking.createdAT | date('d/m/Y') }}</td>
                              <td>
                                  <a href="#" >
                                      <i class="fas fa-pen"></i>
                                  </a>
                              </td>
                          </tr>
                          {% else %}
                          <p>Aucune réseravtion pour cette annonce</p>
                          {% endfor %}
                          </tbody>
                      </table>
                   </div>
               </div>
               <div class="card bg-light mt-5">
                   <div class="card-header">
                       <h4 class="card-title">Les commentaires</h4>
                   </div>
                   <div class="card-body">
                       <table class="table">
                           <thead>
                           <tr>
                               <th>Id</th>
                               <th>Voyageur</th>
                               <th>Commentaire</th>
                               <th>Note</th>
                               <th>Actions</th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for comment in advert.comments %}
                               <tr>
                                   <td>{{ comment.id }}</td>
                                   <td>{{ comment.author }}</td>
                                   <td>{{ comment.content }}</td>
                                   <td>{{ comment.rating }}</td>
                                   <td>
                                       <a href="#" >
                                           <i class="fas fa-pen"></i>
                                       </a>
                                   </td>
                               </tr>
                           {% else %}
                               <tr>
                                   <td colspan="6">Aucun commentaire pour cette annonce</td>
                               </tr>
                           {% endfor %}
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
       <div class="mt-3">{{ include('advert/_delete_form.html.twig') }}</div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/advert.js"></script>
{% endblock %}



