{% extends 'admin/base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <h1>Gestion des réservations </h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date d'arrivée</th>
                <th>Date de départ</th>
                <th>Date de réservation</th>
                <th>Titre de l'annonce</th>
                <th>Voyageur</th>
                <th>Montant total</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in pagination.data %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.startDate | date('d/m/Y') }}</td>
                    <td>{{ booking.endDate | date('d/m/Y')}}</td>
                    <td>{{ booking.createdAt | date('d/m/Y à H:i') }}</td>
                    <td>{{ booking.advert.title }}</td>
                    <td>
                        {% if booking.guest.avatarUrl %}
                        <img src="{{ booking.guest.avatarUrl }}"
                             alt="Avatar de {{ booking.guest }}"
                             class="rounded-circle avatar-small"
                        >
                        {% else %}
                            <img src="{{ '/images/avatar_profile.png' }}" class="rounded-circle avatar-small" alt="Avatar de {{ booking.guest.fullName }} ">
                        {% endif %}  {{ booking.guest }}
                    </td>
                    <td>{{ booking.amount }}</td>
                    <td class="d-flex">
                        <a href="{{ path('booking_show', {'id': booking.id}) }}">
                            <i class="fas fa-eye  mr-2" style="font-size: 1.5em"></i>
                        </a>
                        <a href="{{ path('admin_booking_edit', {'id': booking.id}) }}">
                            <i class="fas fa-edit " style="font-size: 1.5em"></i>
                        </a>
                        {% include'admin/partials/_delete_form.html.twig' with
                            {'route': 'admin_booking_delete', 'param': {'id': booking.id}, 'id': booking.id }
                        %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun commentaire rétrouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display }}
    </div>
{% endblock %}
