{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>La liste de toutes les réservations</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Date d'arrivée</th>
                <th>Date de départ</th>
                <th>Date de réservation</th>
                <th>Montant total</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.startDate | date('d/m/Y') }}</td>
                    <td>{{ booking.endDate | date('d/m/Y')}}</td>
                    <td>{{ booking.createdAt | date('d/m/Y') }}</td>
                    <td>{{ booking.amount }}</td>
                    <td>
                        <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                        <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <a href="{{ path('booking_new', {'slug': advert.slug}) }}" class="btn btn-secondary mb-4">Create new</a>#}
    </div>
{% endblock %}
