{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires!{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <h1 class="my-2">Gestion des commentaires</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Annonce</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.data %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.createdAt | date('d/m/Y à H:i') }}</td>
                    <td>
                        {% if comment.author.avatarUrl %}
                        <img src="{{ comment.author.avatarUrl }}"
                             alt="Avatar de {{ comment.author.fullName }}"
                             class="rounded-circle avatar-small"
                        >
                        {% else %}
                            <img src="{{ '/images/avatar_profile.png' }}" class="rounded-circle avatar-small" alt="Avatar de {{ comment.author.fullName }} ">
                        {% endif %} {{ comment.author.fullName }}
                    </td>
                    <td width="30%">
                        {{ comment.content  }}
                    </td>
                    <td>
                    <span class="badge badge-primary rounded py-1 px-3">
                        {{ comment.rating }}
                    </span>
                    </td>
                    <td>{{ comment.advert.title }}</td>
                    <td class="d-flex">
                        <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" title="éditer l'annonce">
                            <i class="fas fa-edit" style="font-size: 1.5em"></i>
                        </a>
                        {% include'admin/partials/_delete_form.html.twig' with
                            {'route': 'admin_comment_delete', 'param': {'id': comment.id}, 'id': comment.id }
                        %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucune annonce rétrouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display }}
    </div>
{% endblock %}

