{% set advert_show_url = path('advert_show', {'slug': advert.slug,'id': advert.id}) %}
<div class="col mb-4">
    <div class="card h-100">
        <div class="card-header text-center">
            {{ advert.rooms }} {% if advert.rooms > 1 %} chambres {% else %} chambre {% endif %},
            <strong>{{ advert.price }} € / nuit</strong> <br>
            <small>Pas encore notée</small>
        </div>
        <a href="{{ advert_show_url }}">
            <img src="{{ advert.coverImage }}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <a href="{{ advert_show_url }}">
                <h5 class="card-title">{{ advert.title }}</h5>
            </a>
            <p class="card-text">{{ advert.introduction }}</p>
            <a href="{{ advert_show_url }}" class="btn btn-secondary">Voir l'annonce »</a>
            <a href="{{ path('advert_edit', {'slug': advert.slug, 'id': advert.id}) }}" class="btn btn-secondary">Editer l'annonce »</a>
        </div>
    </div>
</div>